@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: nunito, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    font-size: 40px;
    padding: 8px;
}

#table {
    text-align: center;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

#table-container {
    text-align: center;
    margin: auto;
    width: 65%;
    min-width: 700px;
    overflow-y: scroll;
    height: 60vh;
    border-collapse: collapse;
}


#thead {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

#table th, td {
    padding: 3px;
    border: 1px solid black;
}

#table tbody {
    border: 1px solid green;
    height: 30px;
    /*overflow-y: scroll;*/
}

#btn-container {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-content: center;
}

#btn-container .button {
    text-align: center;
    color: white;
    background: green;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000040;
    cursor: pointer;
}

#btn-container .end {
    background: firebrick;
}

#btn-container .button:hover {
    background: #889909;
    cursor: pointer;
}

#stat-holder {
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    margin: 30px auto;
    min-width: 600px;
    font-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

#stat-holder span {
    color: firebrick;
    font-weight: bolder;
}